[MASTER]
ignore=tests

[MESSAGES CONTROL]
disable=C0114, C0116, W0718, invalid-name, missing-module-docstring, line-too-long

[FORMAT]
max-line-length=120

[DESIGN]
max-args=5

[REPORTS]
output-format=parseable
